.profile_container {
    display: flex;
    flex-flow: column;
    
    position: relative;
    
    background-color: #0004;
    padding: 50px 20px;
    border: solid 2px #FFF2;
    border-radius: 10px;
    margin: auto;
    top: 100px;
}

.avatar_container {
    display: flex;
    flex-flow: column;
}

.avatar_container img {
    width: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
    margin: auto;

    object-fit: fill;

    transition: 0.25s;
}

.avatar_container img:hover {
    transform: scale(0.95);
}

.avatar_container h1 {
    font-size: 25px;
    text-align: center;
}

.avatar_container span {
    margin: 0 auto 10px;
}

