body {
    background-color: #232324;
    color: #e05656;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

p {
    color: #dadada;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

strong {
    color: #916a6a;
    font-size: 18px; 
}

dt {
    color: #dadada;
    font-size: 20px;
}