body {
    background-color: #232324;
    color: #dadada;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {    
    color: #b42d2d;
}

p {
    color: #dadada;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

strong {
    color: #916a6a;
    font-size: 16px; 
}

dt {
    color: #916a6a;
    font-size: 16px;
}

.author {
    color:#69696b;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

#lambo_title {
    color: #dfc907;
}

#mclaren_title {
    color: #c4840f;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.category {
    color: #dadada99;
    font-style: italic;
}

#button1 {
    color: #dadada;
    background-color: #69696b;
    border-radius: 10px;
    border: transparent;
    font-family: Verdana;
    height: 25px;
    cursor: pointer;
}