.container {
    border: solid 1px #000;
    padding: 5px;
    background: #777;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;

    height: 300px;
}

.box {
    margin: 10px;
    border: solid 1px #333;
    padding: 5px;
    background: #999;

    width: 150px;
}